<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">  
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body style="height: 100vh">
    
    <div class="row d-none">
      <input type="file" name="_file" id='excel-input-file'>
    </div>   
    
    <div id="progress-wrapper">
      <div id="progress-bar" style="background-color: blue; width: 0%;">&nbsp;</div>
      <div id="progress-bar-message"></div>
      <div id="import-summary"></div>
    </div> 
    <div>
      <div id="final-message"></div> 
    </div>
    <div class="container" style="position: relative; top: 50vh; width: 100vw">
      <div class="col-md-12 text-center">
        <!--Import button-->
        <button type="button" class="btn btn-primary" id="import-button" 
                onclick="document.getElementById('excel-input-file').click()">
          Import Products
        </button>

        <!--product list-->
        <a href="{% url 'products:product_list' %}" class="btn btn-primary" id="product-list">
          Go to product list page
        </a>
        
        <!--loader-->
        <div id='upload-loader'>
          <div class="spinner-grow" role="status">
            <span class="sr-only">Uploading file please wait...</span>
          </div>
          <div>Uploading file please wait...</div>
        <div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script>

    $('#product-list').hide();
    $('#upload-loader').hide();
    (function () {
        var fileInputElm = document.getElementById('excel-input-file');
        fileInputElm.addEventListener('change', uploadFile, false);
    })();

    var task_id = null;
    function uploadFile(e) {
      var _file = e.target.files[0]; 
      $.ajax({
        url: "{% url 'api:get_upload_url' %}",
        type: 'GET',
        success: function (data) {
            $('#import-button').hide();
            console.log("got data======>", data)
            uploadFileToS3(_file, data.url, data.fields);
        },
        cache: false,
        contentType: false,
        processData: false
      });
    };
    
    function uploadFileToS3(_file, url, fields){
      let formData = new FormData(); 
      formData.append("key", fields.key);
      formData.append("x-amz-algorithm", fields["x-amz-algorithm"]);
      formData.append("x-amz-credential", fields["x-amz-credential"]);
      formData.append("x-amz-date", fields["x-amz-date"]);
      formData.append("policy", fields.policy);
      formData.append("x-amz-signature", fields["x-amz-signature"]);
      formData.append("file", _file);
      $.ajax({
        url: url,
        type: 'POST',
        data: formData,
        beforeSend: function() {
          $('#upload-loader').show();
        },
        success: function (data) {
          $('#upload-loader').hide();
          console.log("<=====got s3 resp======>")
        },
        cache: false,
        contentType: false,
        processData: false
      });
    }

    function getProgressUrl() {
      var progressUrl = window.location.origin + "/api/get-import-progress/" + task_id;
      return progressUrl
    }

    function getProgressData (progressUrl) {
      fetch(progressUrl).then(function(response) {
        response.json().then(function(data) {
          // update the appropriate UI components
          if (data.state === "PROGRESS") {
            setProgress(data.state, data.details);
            setTimeout(getProgressData, 500, progressUrl);
          } else if (data.state === "SUCCESS") {
            $('#progress-bar').hide();
            $('#progress-bar-message').hide();
            $("#final-message").text(data.details.message)
            $("#import-summary").text(
              'Imported: ' + data.details.valid_products + 
              ' Rejected: ' + data.details.invalid_products
            );
            $('#product-list').show();
          } else if (data.state === "FAILURE") {
            $('#import-button').show();
            $("#final-message").text(data.details.message)
          } else {
            // Probably in pending state, backend will update state to progress
            // in the second iteration.
            setTimeout(getProgressData, 500, progressUrl);
          }
        });
      });
    }
    
    function updateProgressBar(progressBarElement, progressBarMessageElement, importSummaryElement, progress) {
      progressBarElement.style.width = progress.percent + "%";
      progressBarMessageElement.innerHTML = progress.current + ' of ' + progress.total + ' processed.';
      importSummaryElement.innerHTML = 'Imported: ' + progress.valid_products + ' Rejected: ' + progress.invalid_products;
    }
  
    function setProgress(state, details) {
      var bar = document.getElementById("progress-bar");
      var barMessage = document.getElementById("progress-bar-message");
      var importSummary = document.getElementById("import-summary");
      var total = details.total;
      var done = details.done;
      var valid_products = details.valid_products;
      var invalid_products = details.invalid_products;
      var percent = (done * 100) / total;
      for (var i = 0; i < 11; i++) {
        updateProgressBar(bar, barMessage, importSummary, {
          percent: percent,
          current: done,
          total: total,
          valid_products: valid_products,
          invalid_products: invalid_products
        })
      }
    }
    
  </script>
  <style>
    #progress-bar {
      margin-top: 1em;
    }
  </style>
  </body>
</html>
